.wp-block-agk-custom-blocks-definitions-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.wp-block-agk-custom-blocks-definitions-list-term {
    flex: 0 0 25%;
    font-weight: 700;
    text-align: right;
}

.wp-block-agk-custom-blocks-definitions-list-details {
    flex: 0 0 75%;
    margin: 0;
    padding-left: 1rem;

}